/***************************/
/* HEADER */
/***************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2a2a2a;
  /* Because want header to be sticky later */
  height: 9.6rem;
  padding: 0 4.8rem;

  position: relative;
}

.logo {
  height: 4.8rem;
}

/***************************/
/* NAVIGATION */
/***************************/
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #fae1e1;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #d78c8c;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #ef9b9b;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #d78c8c;
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #fae1e1;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/***************************/
/* HERO SECTION */
/***************************/
.section-hero {
  background-color: #fae1e1;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-list {
  margin-top: 9.6rem;
}

.hero-list-item {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 5fr;
  list-style: none;
  font-size: 2.4rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
  font-style: italic;
  font-weight: 500;
}

.icon-hero {
  background-color: #fff;
  padding: 5px;
  border-radius: 100%;
  color: #8f5d5d;
  height: 4.8rem;
  width: 4.8rem;
}

.hero-img {
  width: 100%;
}

.section-templates {
  background-color: #fff;
  margin-bottom: 9.6rem;
}

.template-box {
  margin: 4.8rem 0;
  background-color: #fdf5f5;
  padding: 4.8rem;
  border-radius: 11px;
}

.template-img {
  width: 100%;
  height: 100%;
  transition: all 0.7s ease-in-out;
  border-radius: 3px;
}

.template-img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/***************************/
/* EDIT PAGE: PERSOONLIJKE INFO SECTION */
/***************************/
<<<<<<< Updated upstream
.persoonlijke-info{
    background-color: #f7e8e8;
    padding-top: 1.2rem;
    height: 100vh;
=======
.persoonlijke-info {
  background-color: #f7e8e8;
  padding-top: 1.2rem;
  height: 100vh;
}

.section-description {
  margin-bottom: 9.6rem;
  font-size: 2.4rem;
}

.editpage {
  background-color: #f9d7d7;
  padding: 4.8rem;
  border-radius: 11px;
}

.persoonlijke-info-form {
  display: grid;
  align-items: center;

  gap: 1.2rem;
  margin-bottom: 9.6rem;
}

.persoonlijke-info-title {
  font-size: 2.2rem;
  font-weight: 600;
}

form input {
  border-radius: 3px;
  padding: 1.2rem;
  border: none;
}

input.frijbewijs {
  height: 3.2rem;
  width: 3.2rem;
}

.frijbewijs-text {
  font-size: 1.6rem;
}

.frijbewijs-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-self: start;
}

.edit-pagenumber {
  font-size: 2.2rem;
  font-weight: 600;
}

.btn-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2.4rem;
}

.btn-previouspage,
.btn-nextpage {
  background-color: #a76d6d;
  color: #fff;
}

.btn-nextpage:hover,
.btn-previouspage:hover {
  background-color: #8f5d5d;
  color: #fff;
}

.btn-position-end {
  justify-self: end;
}

/* VORMGEVING PART */
.vormgeving-colors {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.vormgeving-color-box {
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 3px;
}

.red {
  background-color: #5f1616;
}

.darkgreen {
  background-color: rgb(13, 77, 13);
}

.blue {
  background-color: rgb(25, 25, 105);
}

/***************************/
/* INLOG PAGE CSS */
/***************************/
.section-login {
  background-image: url(https://recruitment-blog.nl/wp-content/uploads/2014/04/168372833.jpg);
  background-repeat: no-repeat, repeat;
  background-size: cover;
  /* backdrop-filter: blur(2px);  DOES NOT WORK?! */
  height: 100vh;
  width: 100%;
}

.login-form {
  background: rgba(239, 155, 155, 0.7);
  border-radius: 1.2rem;
  margin-top: 9.6rem;
  padding: 4.8rem;

  display: grid;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

.login-title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.login-form-box {
  align-items: center;
}

.login-form-titles {
  color: #333;
  font-size: 2.4rem;
  font-weight: 600;
}

.login-form-sidenote {
  justify-self: center;
  color: #333;
  font-size: 1.8rem;
  font-weight: 500;
}

.login-form-sidenote a {
  color: #000;
}

/***************************/
/* CONTACT PAGE */
/***************************/

.section-contact {
  background: #ef9b9b;
  padding-bottom: 9.6rem;
>>>>>>> Stashed changes
}

.contact-title-box {
  background-color: #fcebeb;
  padding: 9.6rem 0;
  margin-bottom: 9.6rem;
}

<<<<<<< Updated upstream
.editpage{
    background-color: #f9d7d7;
    padding: 4.8rem;
    border-radius: 11px;
}

.persoonlijke-info-form{
    display:grid;
    align-items:center;
    
    gap: 1.2rem;
    margin-bottom: 9.6rem;
}

.persoonlijke-info-title{
    font-size: 2.2rem;
    font-weight: 600;
=======
.contact-description {
  color: #d78c8c;
}

.contact-text {
  color: #333;
  font-size: 2.4rem;
  align-self: center;
  line-height: 1.5;
}

.contact-img {
  width: 100%;
  align-self: end;
  border-radius: 3px;
  margin-top: 2.4rem;
}

.contact-form {
  display: grid;
  align-items: start;
  gap: none;
  background-color: #d78c8c;
  padding: 4.8rem;
  border-radius: 11px;
}

.contact-form-box {
  gap: 3.2rem;
  display: grid;
  align-content: center;
  width: 100%;
>>>>>>> Stashed changes
}

.contact-form label {
  color: #333;
  font-size: 2.4rem;
  font-weight: 600;
  align-self: Center;
}

.contact-form textarea {
  width: 100%;
  height: 150px;
  border: none;
  border-radius: 3px;
}

/***************************/
<<<<<<< Updated upstream
/* INLOG PAGE CSS */
/***************************/

.logintextje {
    display:grid;
    justify-content: center;
    padding-top: 150px;
}

.login-form {
    display:grid;
    justify-content: center;
    margin-top: 25px;
}

h3 {
    text-align: center;
    text-transform: uppercase;
    padding-top: 150px;

}


.fontforusername {
    font-size: 15px;
}

main {
    background-image: url(https://recruitment-blog.nl/wp-content/uploads/2014/04/168372833.jpg);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    backdrop-filter: blur(20px);
    height: 100vh;
    width: 100%;

.frijbewijs-text{
    font-size: 1.6rem;
}

.frijbewijs-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self:start;
}


.edit-pagenumber{
    font-size: 2.2rem;
    font-weight: 600;
}

.btn-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2.4rem;
}

.btn-previouspage,
.btn-nextpage{
    background-color:#a76d6d;
    color: #fff;
}

.btn-nextpage:hover,
.btn-previouspage:hover{
background-color: #8f5d5d;
color:#fff;
}

.btn-position-end{
    justify-self: end;
}

/* VORMGEVING PART */
.vormgeving-colors{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}


.vormgeving-color-box{
    height: 3.2rem;
    width: 3.2rem;
    border-radius:3px;
}

.red{
    background-color: #5f1616;
}

.darkgreen{
    background-color: rgb(13, 77, 13);
}

.blue{
    background-color:rgb(25, 25, 105);
}

/***************************/
/* FOOTER */
/***************************/

footer{
    background-color: #333;
    height: 4.8rem;
    color: #d78c8c;
    padding:2rem;
}

footer p{
    font-size: 1.2rem;
    font-style: italic
}

.boxding {
    padding: 8px;
}
=======
/* FOOTER */
/***************************/

footer {
  background-color: #333;
  height: 4.8rem;
  color: #d78c8c;
  padding: 2rem;
  /* bottom:0; */
}

footer p {
  font-size: 1.2rem;
  font-style: italic;
}
>>>>>>> Stashed changes
