/***************************/
/* HEADER */
/***************************/

.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color: #2a2a2a;
    /* Because want header to be sticky later */
    height:9.6rem;
    padding: 0 4.8rem;

    position: relative;
}

.logo{
    height:4.8rem;
}

/***************************/
/* NAVIGATION */
/***************************/
.main-nav-list{
    list-style: none;
    display: flex;
    align-items:center;
    gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited{
    display: inline-block;
    text-decoration: none;
    color: #fae1e1;
    font-weight: 500;
    font-size: 1.8rem;
    transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active{
    color:#d78c8c;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited{
    padding:1.2rem 2.4rem;
    border-radius: 9px;
    color:#fff;
    background-color: #ef9b9b;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active{
    background-color: #d78c8c;
}


/* MOBILE */
.btn-mobile-nav{
    border: none;
    background: none;
    cursor: pointer;

    display:none;
}

.icon-mobile-nav{
    height:4.8rem;
    width:4.8rem;
    color: #fae1e1;
}

.icon-mobile-nav[name="close-outline"]{
    display: none;
}



/***************************/
/* HERO SECTION */
/***************************/
.section-hero{
    background-color: #fae1e1;
    padding: 4.8rem 0 9.6rem 0;
}

.hero{
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 3.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 9.6rem;
    align-items: center;
    
}

.hero-description{
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom:4.8rem;
}

.hero-img{
    width: 100%;
}

/***************************/
/* EDIT PAGE: PERSOONLIJKE INFO SECTION */
/***************************/
.persoonlijke-info{
    background-color: #d78c8c;
}

.section-description{
    margin-bottom: 9.6rem;
    font-size: 2.4rem;
}

.persoonlijke-info-form{
    display:grid;
    align-items:center;
    
    gap: 1.2rem;

    margin-bottom: 9.6rem;

    
}

form input{
    border-radius: 3px;
    padding: 1.2rem;
    border: none;
}

input.frijbewijs{
height:3.2rem;
width:3.2rem;
}



